<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!-- namespace指定和哪个Mapper映射器接口对应 -->
<mapper namespace="com.xdl.mapper.DeptMapper">
	<!-- 定义SQL语句 -->	
    <select id="findById" parameterType="int" 
      resultType="com.xdl.bean.Dept">
         select * from dept where deptno = #{no}
    </select>
    <select id="findAll"  resultType="com.xdl.bean.Dept">
         select * from Dept
    </select>

    <select id="findByDName" parameterType="java.lang.String" resultType="com.xdl.bean.Dept">
        select * from dept where dname=#{dname}
    </select>


  
</mapper>